<div id = 'text_wrapper'>
<h1>Listing components</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Description</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @components.each do |component| %>
  <tr>
    <td><%= component.component_type_id %></td>
    <td><%= component.name %></td>
    <td><%= component.photo_id %></td>
    <td><%= component.description %></td>
    <td><%= component.cost %></td>
    <td><%= link_to 'Show', component %></td>
    <td><%= link_to 'Edit', edit_component_path(component) %></td>
    <td><%= link_to 'Destroy', component, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Component', new_component_path %>

</div>