<div id = 'text_wrapper'>
<%= link_to('Изменить', edit_component_path(@component)) + " | " if admin?  %> <%= link_to 'Удалить', @component, :data => { :confirm => 'Вы уверены что хотите удалить прибор?' }, :method => :delete if user_type == 'admin'%>  
<%= link_to 'К списку продукции', products_path %> | <%= link_to 'К списку компонентов', components_path %>
<p id="notice"><%= notice %></p>
<table style = "width: 100%; height: 350px;">
	<tr>
		<td style = 'width: 400px;'>
		<% if @component.photos != [] %>
			<div style = 'position: relative;'>
				<div style = 'width: 100%;'>
					<% if @component.photo != nil %><a href = "<%= @component.photo.link %>" data-lightbox="roadtrip" title = "<%= @component.photo.description %>"><%= image_tag @component.photo.link.thumb %></a><% end %>
				</div>
				<div style = 'height: 60;'>
					<% @component.photos.each do |photo| %>
						<a href = "<%= photo.link %>" data-lightbox="roadtrip" title = "<%= photo.description %>"><%= image_tag photo.link.mini, :height => '30px'  %></a>
					<% end %>
				</div>
			</div>
		<% end %>
		</td>
		<td valign = "top">
				<div class = 'mini_cost_block'>
					<div id = 'cost'>
						Цена*: <%= @component.rur_cost.html_safe %>
					</div>
				</div>
				<br />
				<div class = 'list_items_parent_block'>
					<% if @componentLinks != [] %>
						<%= show_binded_products.html_safe %>
					<% else %>
						<b>Нигде не используется:</b>
					<% end %>
				</div>
		</td>
	</tr>
</table>

<p id = 'text'>
  <%= @component.description.html_safe %>
</p>
</div>
<br />
<br />
<br />

